@model Bibilioteca_prestamos_EVWEB.Models.Libro
@{
    ViewBag.Title = "Delete";
}

<h2 class="text-center">ELIMINAR @Model.Titulo</h2>
<div class="text-center">
    <h2>¿Está seguro que desea eliminar el libro? <b>@Model.Titulo</b>?</h2>
    <form method="post">
        <a href="/Libro/Index" class="btn btn-primary">VOLVER</a>
        <button class="btn btn-danger">ELIMINAR</button>
    </form>
</div>