body {
    background-image: background: rgb(19,12,136);
    background: radial-gradient(circle, rgba(19,12,136,1) 11%, rgba(237,49,163,1) 49%, rgba(0,212,255,1) 100%);
    
}
tr {
    color: white;
}
td:hover {
    color: white;
    background-color:black;
    transition-delay:0.1s;
    transition:ease 0.7s;
}

.dropdown-item {
    border-left: solid 7px blue;
    padding-block: 10px 5px;
    margin-top: 0.1px;
    margin-bottom: 0.5px;
    background: conic-gradient(to right, red, blue);
}


.dropdown-toggle:hover {
    transition: ease 0.4s;
    text-shadow: 0px 3px 8px black;
    border-left: 1px solid #0000ff99;
}

.dropdown-item:hover {
    transition-delay: 0.1s;
    transition: background-color ease-in 0.5s;
    background-color: mediumpurple;
    border-left: solid 7px black;
    color: black;
}

