
@{
    ViewBag.Title = "Create";
}

<h1 class="text-center">Crear Nuevo Autor</h1>
<form method="post" class="needs-validation" novalidate style="width:60%">
    <div class="mb-3">
        <label class="form-label">Nombre del Autor</label>
        <input type="text" id="nombre" name="nombre" class="form-control" required, placeholder="Nombre del autor"/>
        <div class="text-danger">@ViewBag.error</div>
    </div>
    <div>
        <a href="/Autor/Index" class="btn btn-primary">VOLVER</a>
        <button type="submit" class="btn btn-success">GUARDAR</button>
    </div>
</form>
<script src="~/Scripts/validacion.js"></script>

