@model Bibilioteca_prestamos_EVWEB.Models.Autor
@{
    ViewBag.Title = "Edit";
}

<h1 class="text-center">Editar Autor</h1>
<form method="post" class="needs-validation" novalidate>
    <div class="mb-3">
        <input type="hidden" name="id_Autor" value="@Model.id_Autor" />
        <label class="form-label">Nombre de Autor</label>
        <input type="text" id="nombre" name="nombre" value="@Model.Nombre" class="form-control" required />
    </div>
    <div>
        <a href="/Autor/Index" class="btn btn-primary">VOLVER</a>
        <button type="submit" class="btn btn-success">EDITAR</button>
    </div>
</form>
<script src="~/Scripts/validacion.js"></script>
