@model Bibilioteca_prestamos_EVWEB.Models.Prestamo
@{
    ViewBag.Title = "Delete";
}

<h2 class="text-center">ELIMINAR </h2>
<div class="text-center">
    <h2>¿Está seguro que desea eliminar el prestamo? </h2>
    <form method="post">
        <a href="/Prestamo/Index" class="btn btn-primary">VOLVER</a>
        <button class="btn btn-danger">ELIMINAR</button>
    </form>
</div>
